body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/arie-wubben-pFUEpJUSyyE-unsplash.jpg');
  background-size: cover;
  color: white;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

body {
  display: flex;
  flex-direction: column;;
}

td {
  text-align: center;
}

th {
  font-weight: 800;
  font-size: 1.25rem;
}
#details-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.passed {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.submit-button {
  width: 10rem;
  margin-top: 1.5rem;
}

.small-button {
  width: 2rem;
  margin-left: 3rem;
}

input, select {
  margin-top: 1.5rem;
}